<!--<h1 id="logo" class="grid_4">Telestroke</h1>-->
<!-- Navigation Menu -->
<div class="freshdesignweb-top">
<ul id="navigation" class="grid_18">
   <!-- <li><a href="#"><span class="meta">Get in touch</span><br />
        Contact Us</a></li>-->
    <li><a href="@controllers.review.routes.ReviewController.getPatientsReviewed()" class="current"><span class="meta">Old patient data</span><br />
        Reviewed</a></li>
    <li><a href="@controllers.review.routes.ReviewController.getPatientsToReview()"><span class="meta">Did not review patient ?</span><br />
        UnReviewed</a></li>
</ul>
<span class="right" style="font-size: 14PX;  font-family: fantasy;">
        <a href="@controllers.routes.AuthenticationController.logout()">LogOut</a>
</span>
<div class="hr grid_12 clearfix">&nbsp;</div>
<!-- freshdesignweb top bar -->

    <div class="clr"></div>
</div><!--/ freshdesignweb top bar -->